@use "./utility/" as ut;
@use "./layout/" as lay;
@include ut.base;

body {
  font-family: ut.$font-main;
  font-size: 1rem;
  background-color: ut.$neutral-3;
  color: ut.$neutral-1;
}

@media only screen and (min-width: 20em) and (max-width: 30em) {
  .header {
    padding: 8rem 3rem;
  }
  .main, .header {
    h1 {
      font-size: clamp(2em, 10vw, 1em);
      text-align: center;
    }
    h2 {
      font-size: clamp(1.5em, 10vw, 0.5em);
    }
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 30em) and (max-width: 48em)  {
  .header {
    padding: 8rem 5rem;
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 48em) and (max-width: 61.25em) {
  .header {
    padding: 8rem 6rem;
  }
}

@media only screen and (min-width: 61.25em) and (max-width: 64em) {
  .header {
    padding: 8rem 9rem;
  }
}

@media only screen and (min-width: 64em) and (max-width: 75em) {
}

@media only screen and (min-width: 75em) {
}