.header {
  background-color: $c1;
  color: $c6;
  padding: 120px;
  background-image: url("../images/Evening_Forests_Mountains_Firewatch_Campo_Santo_549147_1920x1080.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-position: center;


  h1 {
    font-size: 48pt;
    margin-left: 20%;
    letter-spacing: 1.5px;

    &:hover {
      animation: anim2 1s;
    }
  }
}
.navList {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-left: 20%;
  margin-top: 30px;

  li {
    margin-right: 20px;
    font-size: 16pt;

    a {
      text-decoration: none;
      color: $c6;
      border-bottom: 2px solid $c6;

      &:hover {
        color: $c2;
        border-color: $c2;
        transition: all 0.3s ease-in;
      }
    }
  }
}

@keyframes anim2 {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(15px, 5px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}