@media only screen and (min-width: 320px) {
  .header {
    padding: 15px;
    h1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 auto;
      font-size: 44pt;
      letter-spacing: 0;
    }
  }

  .navigation {
    width: 100%;
  }

  .navList {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: 0;

    li {
      padding: 0;
      margin: 0 5px;
    }
  }

  .introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .introduction-projects {
    text-align: center;
  }

  .project {
    text-align: center;
    video {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 481px) {
  .header {
    padding: 30px;
  }

  .navList {
    li {
      margin: 0 10px;
    }
  }
}

@media only screen and (min-width: 641px) {
  .header {
    padding: 75px;
  }
}

@media only screen and (min-width: 961px) {
  .header {
    padding: 100px;

    h1 {
      font-size: 48pt;
    }
  }
  .navList {
    li {
      margin: 0 15px;
    }
  }
}

@media only screen and (min-width: 1025px) {
  .header {
    padding: 120px;

    h1 {
      font-size: 48pt;
      letter-spacing: 1.5px;
    }
  }
  .navList {
    li {
      margin-right: 10px;
    }
  }

  .project {
    text-align: center;
    video {
      width: 80%;
    }
  }
}
