@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&display=swap");
@import "_colors.scss";
@import "_mixins.scss";
@import "_header.scss";
@import "_main.scss";
@import "_media.scss";

* {
  font-family: "Mukta", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: $c7;
}

