@use "../utility/" as ut;

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 90%;
}

.project {
  @include ut.flex(column, flex-start, baseline, 0.75rem);
  padding: 1rem;
  background-color: rgba($color: ut.$neutral-2, $alpha: 0.3);

  &__name {
    color: ut.$neutral-1;
  }

  &__details {
    a {
      text-decoration: none;
      color: ut.$neutral-1;
      &:hover {
        color: ut.$main-1;
        transition: all 0.3s;
      }
      &:active {
        color: ut.$main-6;
      }
    }
  }
}
