@use "../utility/" as ut;

.contact {
  @include ut.flex(column, center, center, 1rem);

  p {
    @include ut.flex(column, center, center, 1rem);

    a {
      text-decoration: none;
      color: ut.$neutral-1;
      &:hover {
        color: ut.$main-1;
        transition: all 0.3s;
      }
      &:active {
        color: ut.$main-6;
      }
    }
  }
}
